.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px blue;
  padding: 10px;
  max-width: 250px;
  text-align: center;
  display: inline-block;

}
.card .cardImage{
  margin: 10px;
  box-shadow: 5px 5px 5px blue;
  border-radius: 50%;
  max-width: 60%;
}

.card h2{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(17, 17, 67);
  margin: 0;
}

.card p{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(46, 6, 60);
}